* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;

}

body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    
    overflow-x: hidden;
}

.main-body-wrapper {
    display: flex;
    flex-direction: column;
    z-index: 4; 
}