:root {
    --black: #363537ff;
    --blacker: rgb(34, 33, 33);
    --blackest: rgb(7, 7, 7);
    --mountbatten-pink: #9a7aa0ff;
    --ivory: #feffeaff;
    --moonstone: #5c9eadff;
    --lavender-pink: #efaac4ff;
    --cotton: #FBFBF9;
}
