@font-face {
    font-family: 'Calibre';
    src: url('fonts/CalibreRegular.otf') format("opentype");
    font-style: normal;
}

@font-face {
    font-family: 'gothambold';
    src: url('fonts/gothambold-webfont.woff2') format('woff2'),
         url('fonts/gothambold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamlight';
    src: url('fonts/gothamlight-webfont.woff2') format('woff2'),
         url('fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothammedium';
    src: url('fonts/gothammedium-webfont.woff2') format('woff2'),
         url('fonts/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NetflixBold';
    src: url('fonts/NetflixSans-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NetflixMedium';
    src: url('fonts/NetflixSans-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NetflixLight';
    src: url('fonts/NetflixSans-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.padding-sm {
    padding: 10px;
}

.padding-sm-reverse {

}

.padding-md {
    padding: 15px;
}

.padding-lg {
    padding: 20px;
}

.padding-xlg {
    padding: 30px;
}

.padding-xxlg {
    padding: 40px;
}

.padding-xxxlg {
    padding: 55px;
}

.center_content {
    justify-content: center;
}

.font-fg {
    font-family: 'Calibre', sans-serif;
    font-weight: 500;
    font-size: 6rem;
}