.about-section {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    background: var(--cotton);
}
.about-section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header h1, h2, h3, h4, h5, p {
    color: var(--black);
}

.about-header > p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}
.abt-h1 {
    font-family: "Lexend", sans-serif;
    font-size: 4rem;
    padding-top: 30px;
}

.tiktok-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1px;
}

.tiktok-card {
    margin: 10px;
    height: 31.6vh;
    width: 11.2vw;
    background: rgba(192, 192, 192, 0.13);
    border-radius: 8px;
    transition: 0.3s;
}

.tiktok-card:hover {
    background: rgba(192, 192, 192, 0.468);
    box-shadow:
    0px 0.3px 0.3px rgba(0, 0, 0, 0.036),
    0.1px 0.6px 0.8px rgba(0, 0, 0, 0.052),
    0.2px 1.1px 1.5px rgba(0, 0, 0, 0.064),
    0.3px 1.8px 2.4px rgba(0, 0, 0, 0.076),
    0.5px 2.9px 4px rgba(0, 0, 0, 0.088),
    0.9px 5.1px 6.9px rgba(0, 0, 0, 0.104),
    2px 11px 15px rgba(0, 0, 0, 0.14);
}

.tiktok-card > .tiktok-card-img, .tiktok-card-img:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.tiktok-card > .play-count {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 2.4rem;
    left: 1rem;
    align-items: center;
    color: var(--cotton);
}

.tiktok-card > .play-count p { 
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--cotton);
    text-shadow: 1px 1px rgba(0,0,0,0.8);
}
