.shows-section {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    background: #141414;
}
.shows-section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.shows-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.shows-card {
    margin: 12px;
    height: 170px;
    width: 300px;
    background: rgba(192, 192, 192, 0.13);
    box-shadow:
    0px 1.3px 7.9px rgba(0, 0, 0, 0.182),
    0px 4.5px 26.6px rgba(0, 0, 0, 0.268),
    0px 20px 119px rgba(0, 0, 0, 0.45);
    transition: 0.3s;
}

.shows-card:hover {
    background: rgba(192, 192, 192, 0.468);
    width: 310px;
    height: 180px;
}

.shows-card > .shows-card-img, .shows-card-img:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shows-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.netflix-logo {
    width: 320px;
}