.songs-section {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    background: var(--blacker);
}
.songs-section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.songs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.songs-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.songs-header > p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: var(--cotton);
}

.songs-h1 {
    font-family: 'gothammedium', sans-serif;
    letter-spacing: -2px;
    font-size: 2rem;
    padding-top: 30px;
    color: rgb(30, 215, 95);
    text-align: center;
}

.artist-list {
    display: flex;
    flex-direction: row;
}

.artist-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background: rgba(90, 90, 90, 0.13);
    height: 5rem;
    width: 21rem;
    margin: 12px;
    align-items: center;
    border: 5px solid rgba(40, 40, 40, 0.5);
    transition: 0.3s;
}

.artist-container:hover {
    border: 5px solid rgb(30, 215, 95);
}

.artist-rank {
    font-size: 1.7rem;
    text-align: center;
    color: rgb(179, 179, 179);
    font-family: "gothambold", sans-serif;
}
.artist-name {
    font-size: 1.4rem;
    text-align: center;
    color: var(--cotton);
    font-family: "gothammedium", sans-serif;

}

.artist-img {
    width: 100px;
    height: 50px;
    object-fit: contain;
}

.songs-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.songs-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.honorable-artist-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
}

.artist-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.artist-column {
    display: flex;
    flex-direction: column;
}

.honorable-artist-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.honorable-artist {
    color: var(--cotton);
    font-family: "gothammedium", sans-serif;
    font-size: 1.4rem;
    margin: 2px;
}

.honorable-artist1 {
    color: rgb(179, 179, 179);
    font-family: "gothammedium", sans-serif;
    font-size: 1.4rem;
    margin: 2px;
}

.honorable-artist::after, .honorable-artist1::after {
    content: " ·"
}

.playlists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.spotify-logo {
    width: 320px;
}